@page "/"

@using FHIRBlazor.CustomComponents
@using Radzen.Blazor;

@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

@*<h1>FHIR WebApp!</h1>*@


<div class="row">
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Patient Search</h1>
			<p class="text-center">Search for patients by name</p>
			<RadzenButton Text="View" ButtonStyle="ButtonStyle.Secondary" Class="" Click="@(()=>NavManager.NavigateTo("/searchbyname"))" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Example 1</h1>
			<p class="text-center">lots of general information</p>
			<RadzenButton Text="View" ButtonStyle="ButtonStyle.Secondary" Click="@(()=>NavManager.NavigateTo("/patientinfo/example"))" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Example 2</h1>
			<p class="text-center">lots of general information</p>
			<RadzenButton Text="View" ButtonStyle="ButtonStyle.Secondary" Click="@(()=>NavManager.NavigateTo("/patientinfo/1059"))" />
		</RadzenCard>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Example 3</h1>
			<p class="text-center">Device use statements and emergency contacts</p>
			<RadzenButton Text="View" ButtonStyle="ButtonStyle.Secondary" Click="@(()=>NavManager.NavigateTo("/patientinfo/BSJ-C0522-Incoherent"))" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Example 4</h1>
			<p class="text-center">more general information</p>
			<RadzenButton Text="View" ButtonStyle="ButtonStyle.Secondary" Click="@(()=>NavManager.NavigateTo("/patientinfo/6845552"))" />
		</RadzenCard>
	</div>
	<div class="col-md-4">
		<RadzenCard class="m-3">
			<h1 class="h1 text-center">Example 5</h1>
			<p class="text-center">diagnostic reports</p>
			<RadzenButton Text="View" ButtonStyle="ButtonStyle.Secondary" Click="@(()=>NavManager.NavigateTo("/patientinfo/7001114"))" />
		</RadzenCard>
	</div>
</div>

<!-- <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">-->