@*This is the patient quick info dialog that appears when clicking on a patient in the saerch table. It allows the user to quickly view the patient and choose to see more info.*@

@page "/quickinfo"
@page "/quickinfo/{PatientID}"
@using Hl7.Fhir.Model;
@using Hl7.Fhir.Rest;
@using Hl7.Fhir.Serialization;
@using FHIRBlazor.Pages;

@inject Radzen.DialogService dialogService
@inject NavigationManager NavManager

<div class="row mb-4">
	<div class="col-lg-6 d-flex ">
		<RadzenCard Style="width: 100%; overflow: hidden;">
			<h3 class="h5">Info</h3>
			<div class="d-flex flex-row">
				<RadzenImage Path="https://cdn-icons-png.flaticon.com/512/149/149071.png" Class="rounded-circle float-left mt-1 mr-3" Style="width: 90px; height: 90px;" />
				<div>
					<div>Name</div>
						@if (patient.Name.Count > 0)
						{
							<b>@patient.Name.First()</b>
						}
						else
						{
							<b>No Name</b>
						}
					<div class="mt-3">Gender</div>
					<b>@patient.Gender</b>
				</div>
			</div>
		</RadzenCard>
	</div>
	<div class="col-lg-6 d-flex">
		<RadzenCard Style="width: 100%; overflow: hidden;">
			<h3 class="h5">Personal</h3>
			<div class="row">
				<div class="col">
					<div>Birthdate</div>
					<b>@patient.BirthDate</b>
					<ErrorBoundary>
						<ChildContent>
							<div class="mt-3">@patient.Telecom[0].Use</div>
							<b>@patient.Telecom[0].Value</b>
						</ChildContent>
						<ErrorContent>
							<div class="mt-3">Contact</div>
							<b>Unknown</b>
						</ErrorContent>
					</ErrorBoundary>
				</div>
			</div>
		</RadzenCard>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-right">
		<RadzenButton Click="@(()=>NavManager.NavigateTo("/patientinfo/"+PatientID))" ButtonStyle="ButtonStyle.Secondary" Text="More Info" Style="width: 150px" />
		<RadzenButton Click="@((args) => dialogService.Close(true))" ButtonStyle="ButtonStyle.Primary" Text="Close" Style="width: 120px" />
	</div>
</div>

@code {
	[Parameter] public string PatientID { get; set; }
	private Patient patient;

	protected override void OnInitialized()
	{
		FhirClient client = new FhirClient(NameSearch.serverURL);
		patient = client.Read<Patient>("Patient/" + PatientID);
	}
}




